# Dependencies
node_modules/
*/node_modules/
.npm/

# Database files & Backups
*.db
*.db-shm
*.db-wal
server/jewelflow.db*
server/backups/

# Vercel
.vercel/

# System and logs
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment
.env
.env.local
dist/dist/
